<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.autodeploy.gui</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/autodeploy</string>
        <string>gui</string>
        <string>--port</string>
        <string>8080</string>
        <string>--no-open</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/autodeploy-gui.err.log</string>
    
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/autodeploy-gui.out.log</string>
    
    <key>WorkingDirectory</key>
    <string>/usr/local/opt/autodeploy</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NODE_ENV</key>
        <string>production</string>
    </dict>
</dict>
</plist>